<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd"> <!-- bean definitions here -->

	<!-- 把Hibernate 交给Spring 管理 -->
	<!-- 引入Hibernate 的配置 -->
	<!-- 由Spring 加载生成sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>

	<!-- SaleVisit ================================== -->
	<bean id="saleVisitAction" class="com.demo.web.action.SaleVisitAction"
		scope="prototype"></bean>
	<bean id="saleVisitService" class="com.demo.service.impl.SaleVisitServiceImpl"></bean>
	<bean id="saleVisitDao" class="com.demo.dao.impl.SaleVisitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- LinkMan ================================== -->
	<bean id="linkManAction" class="com.demo.web.action.LinkManAction"
		scope="prototype">
		<property name="linkManService" ref="linkManService" />
		<property name="customerService" ref="customerService" />
	</bean>
	<!-- 配置Service -->
	<bean id="linkManService" class="com.demo.service.impl.LinkManServiceImpl">
		<property name="linkManDao" ref="linkManDao" />
	</bean>
	<!-- 配置Dao -->
	<bean id="linkManDao" class="com.demo.dao.impl.LinkManDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 字典相关的类 ================================== -->
	<!-- 配置Action -->
	<bean id="baseDictAction" class="com.demo.web.action.BaseDictAction"
		scope="prototype">
		<property name="baseDictService" ref="baseDictService" />
	</bean>
	<!-- 配置Service -->
	<bean id="baseDictService" class="com.demo.service.impl.BaseDictServiceImpl">
		<property name="baseDictDao" ref="baseDictDao" />
	</bean>
	<!-- 配置Dao -->
	<bean id="baseDictDao" class="com.demo.dao.impl.BaseDictDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- 配置UerAction ================================== -->
	<bean id="userAction" class="com.demo.web.action.UserAction"
		scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	<!-- 配置Service -->
	<bean id="userService" class="com.demo.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- 配置Dao -->
	<bean id="userDao" class="com.demo.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 配置Action ================================== -->
	<bean id="customerAction" class="com.demo.web.action.CustomerAction"
		scope="prototype">
		<property name="customerService" ref="customerService"></property>
	</bean>
	<!-- 配置Service -->
	<bean id="customerService" class="com.demo.service.impl.CustomerServiceImpl">
		<!-- 注入DAO的属性 -->
		<property name="customerDao" ref="customerDao" />
	</bean>
	<!-- 配置DAO -->
	<bean id="customerDao" class="com.demo.dao.impl.CustomerDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:annotation-config />
</beans>